@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
}
body {
    background: rgb(255, 255, 255);
}
h1 {
    font-family: 'Gemunu Libre', sans-serif; 
}

p {
    font-family: 'Archivo Narrow', sans-serif;
}

.home-menu {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.7)), url(../images/bg_for_main.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.68);
    

}

h1 {
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 20px;
    transition: 0.5s;
}
h1:hover {
    transform: scale(1.1);
    
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(9, 150, 185);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar ul li::after {
content: '';
height: 2px;
width: 0;
background: rgb(255, 255, 255);
position: absolute;
left: 0;
bottom: -2px;
transition: 0.4s;
cursor: pointer;

}
.navbar ul li:hover::after {
    width: 100%;

}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    top: 40px;
    align-items: center;
    
}



#cover-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    

    width: 600px;
    height: 350px;


    padding-top: 10px;
    padding-left: 10px;
   
    left: 10px;
    bottom: 40px;

    background-image: linear-gradient(rgb(22, 21, 21),rgb(0, 0, 0, 0.8));
    
    position: absolute;
}

#cover-text h2 {
    color: rgb(19, 121, 152);
    font-size: 35px;

}
#cover-text p {
    color: white;
    font-size: 20px;
}

#why {
    flex-basis: 40%;
    background: linear-gradient(rgb(22, 21, 21),rgb(0, 0, 0, 0.8));
    border-radius: 35px;
    margin-top: 2%;
    padding: 10px 10px;
    box-sizing: border-box;
}
#why h2 {
    text-align: center;
    font-size: 70px;
    color: #fff;
    

}
#why p {
    line-height: 40px;
    padding: 15px;
    font-size: 30px;
    color: white;
}

.socials  {
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 
    
}


.hero-img {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.7)), url(../images/gym-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
}
.hero-txt {
    color: #fff;
    text-align: center;
    margin: 10px;
}
.hero-txt h2 {
    font-size: 90px;
    font-weight: 500;
    margin: 1rem auto;
    text-transform: capitalize;
  

}
.hero-txt h3 {
    font-size: 45px;
    text-transform: capitalize;
    
}
.hero-txt p {
    font-size: 20px;
    margin: 1rem auto;
    text-transform: none;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.7));
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.6s;
    display: inline-block;
    margin-top: 10px;

}
.hero-btn:hover {
    transform: scale(1.3);
    


}
.program-menu {
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.7)), url(../images/bg-img-for-program.webp);
    background-size: cover;
    background-position: center;
}



#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    
    
}

#photos > img {
    width: 100%;


}
#program-text p {
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
}

table {
    float: left;
    margin: 3rem auto;
    border-collapse: collapse;
    border-spacing: 1rem;
    background-color: rgba(0, 0, 0, 0.68);
    color: #fff;
    margin-left: 20px;
}

thead {
    font-size: 30px;
    
}
th {
    border: 3px solid turquoise;
    padding: 1rem;
}
td {
    border: 3px solid turquoise;
    padding: 1rem;
    font-size: 20px;
}
#links {
    float: right;
    margin: 2rem auto;
    border: 1px solid red;
    border-collapse: collapse;
    border-spacing: 1rem;
    background-color: rgba(0, 0, 0, 0.68);
    color: #fff;
    text-decoration: none;

}
#links th {
    color: #fff;
    font-size: 20px;
    
}
.gallery-hero {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 350px;
    height: 150px;


    padding-top: 10px;
    padding-left: 10px;
   
    background-image: linear-gradient(rgb(0,0,0, 0.6),rgb(0, 0, 0, 0.5));
    
    margin: 4rem auto;

    position: absolute;
}
.gallery-text h2 {
    color: rgb(26, 161, 152);
    font-size: 25px;
}
.gallery-text p {
    color: #fff;
    font-size: 15px;
}



/* Media queries */


    




 

